/*-- scss:defaults --*/

$theme: "BCA_LightTheme" !default;

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black: #000 !default;

$blue: #0073cf !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #fd7e14 !default;
$yellow: #f0ad4e !default;
$green: #4bbf73 !default;
$teal: #20c997 !default;
$cyan: #1f9bcf !default;

$primary: $gray-900 !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $gray-400 !default;

$min-contrast-ratio: 2.25 !default;

// Options

$enable-rounded: true !default;

// Background Color

$background-color: #ffffff !default;

// Title Banner

$title-banner: true !default;

// Body

$body-color: $gray-700 !default;

// Fonts

$font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 0.9rem !default;
$font-size-sm: 0.5rem !default;
$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.15rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 0.8rem !default;
$headings-font-weight: 900 !default;
$headings-color: $primary !default;

// Word Spacing

$body-line-stretch: 1.3rem !default;

// Tables

$table-border-color: rgba(0, 2, 0, 0.05) !default;

// Buttons

$btn-line-height: 1.5rem !default;
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-padding-y-sm: 0.5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-lg: 2rem !default;
$input-btn-padding-x-lg: 2rem !default;
$btn-font-weight: 600 !default;

// Forms

$input-line-height: 1.5 !default;
$input-bg: $gray-200 !default;
$input-disabled-bg: $gray-300 !default;
$input-group-addon-bg: $gray-300 !default;

// Navbar

$navbar-padding-y: 1.5rem !default;
$navbar-dark-hover-color: $secondary !default;
$navbar-light-color: rgba($black, 0.3) !default;
$navbar-light-hover-color: $primary !default;
$navbar-light-active-color: $primary !default;

// Pagination
$pagination-color: $blue !default;
$pagination-hover-color: color-contrast($blue) !default;
$pagination-border-color: transparent !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-border-color: $pagination-border-color !default;

/*-- scss:rules --*/

// Variables and Font Imports
$web-font-path: "https://fonts.cdnfonts.com/css/dm-sans" !default;
$web-monofont-path: "https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" !default;

@import url($web-font-path);
@import url($web-monofont-path);

// Footer
.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: $primary;
  font-weight: 200;
  font-size: 1.2rem;
  a {
    color: $gray-100;
    &:hover {
      transition: color 0.3s ease;
      color: $gray-600;
    }
  }
}

nav a:hover {
  transition: color 0.5s ease;
  color: $white !important;
}

// Apply the same styling for the active link
nav a.active { // For direct navigation to a section via URL fragment
  color: $white !important; // Active link color same as hover
}


.quarto-navbar-tools {
  position: sticky;
  transform: translateX(-50%); // Adjust for the element's height
}


// Background Colors
.bg-primary {
  background-color: theme-color("primary") !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
  &.navbar-fixed-top { border-width: 0 0 1px; }
  &.navbar-bottom-top { border-width: 1px 0 0; }
}

// Nav Item
.nav-item {
  margin-right: 2rem;
}

// Sidebar Table of Content
.sidebar nav[role="doc-toc"] {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  color: $gray-600 !important;
}
.sidebar nav[role="doc-toc"] .nav-link:hover {
  border-left: 1px solid $cyan; // Change the border color to something visible in dark mode
  color: $cyan !important; // Bright color for better visibility on hover
  text-decoration: underline !important; // Underline to indicate hover state
}


// Typography
// Heading Transformations

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}


.text-secondary {
  color: $body-color !important;
}

body {
  font-weight: 200;
  font-family: "DM Sans", sans-serif;
  background-color: $background-color;
  font-size: $body-font-size;
  line-height: $body-line-stretch;
  color: $gray-700;
  touch-action: pan-y;
  overflow-x: hidden;
  user-zoom: fixed;
}

p {
  margin-bottom: 25px; /* Adjusts the bottom margin between paragraphs */
  line-height: 1.7em;
}

/* Code Chunk Coloring */
code {
  font-family: "Fira Code", monospace;
  padding: 0.5rem;
  overflow-x: scroll;
  color: #ffffff; /* Default color for all code elements */
}

/* Source Code color-scheme: */
div.sourceCode,
div.sourceCode pre.sourceCode {
  background-color: $gray-900;
  color: #ffffff; /* Color for source code containers */
}

/* Specific syntax coloring */
code span.ot { color: #20794d; }
code span.at { color: #b3c20f; }
code span.ss,
code span.st,
code span.vs,
code span.ch { color: #25a18e; }
code span.an,
code span.op,
code span.in,
code span.wa,
code span.do,
code span.co,
code span.cv,
code span.sc { color: #a0a0a0; font-style: normal; }
code span.fu { color: #9e7ace; }
code span.cf,
code span.kw { color: #ffffff; }
code span.er,
code span.bn,
code span.al,
code span.pp,
code span.dt,
code span.fl,
code span.dv { color: #ff6347; }
code span.va { color: #cccccc; }
code span.im { color: #25c3dc; }
code span.cn { color: #e6b800; }

.prevent-inlining {
  content: "</";
}

// Buttons
.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning,
  &-warning:hover,
  &-warning:not([disabled]):not(.disabled):active,
  &-warning:focus {
    color: $secondary;
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;
  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $secondary;
  }
  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Tables
th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th, td {
    padding: 1.5rem;
  }
  &-sm th, &-sm td {
    padding: 0.75rem;
  }
}

// Navs Colors & Hover Over
a {
  color: $gray-900;
  &:hover {
    color: $cyan;
  }
}

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators
.badge {
  padding-top: 0.28rem;
  &-pill {
    border-radius: 10rem;
  }
  &.bg-secondary, &.bg-light {
    color: $dark;
  }
}

/* Containers */
.list-group-item h1, .list-group-item h2, .list-group-item h3, .list-group-item h4, .list-group-item h5, .list-group-item h6, .list-group-item .h1, .list-group-item .h2, .list-group-item .h3, .list-group-item .h4, .list-group-item .h5, .list-group-item .h6,
.card-title, .card-header {
  color: inherit;
}

/* About Me Title */
div.quarto-about-marquee header#title-block-header {
  position: relative;
  margin-top: 5px;
  text-align: center;
  margin-block-end: 1rem;
}

/* Title Banner */
.quarto-title-banner .quarto-title .title {
  font-weight: 900;
  color: white;
}

/* Post Blocks */
div.quarto-post .body h3.listing-title, div.quarto-post .body .listing-title.h3 {
  margin: 0;
  border-bottom: none;
  cursor: pointer;
}
div.quarto-post .body h3.listing-title:hover, div.quarto-post .body .listing-title.h3:hover {
  color: $gray-700;
}

/* Updates Categories */
.quarto-listing-category-title, .quarto-listing-category .category {
  cursor: pointer;
  font-size: 1.1rem !important;
  font-weight: 500;
}
.quarto-listing-category .category {
  font-size: 90%;
  font-weight: 100;
  color: $gray-600;
}
.quarto-listing-category-title:hover, .quarto-listing-category .category:hover {
  color: $cyan;
}

/* Updates Category Block Labels [R, Rshiny, CSS]... */
div.quarto-post .listing-categories .listing-category {
  display: flex;
  color: $gray-600;
  text-transform: capitalize;
  border: solid 1px $gray-400;
  border-radius: 0.25rem;
  font-size: 0.55em;
  padding: 0.15em 0.5em;
  margin: 4px 4px 4px 0;
  cursor: pointer;
}
div.quarto-post .listing-categories .listing-category:hover {
  background-color: $gray-200;
}

/* Post Styling */
div.quarto-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 5px;
}
div.quarto-post .thumbnail img {
  margin-top: 0.4em;
  width: 262px;
  height: 175px;
  object-fit: cover;
}
div.quarto-post .listing-description {
  margin-bottom: 5px;
  font-size: 13.5px;
  line-height: 1.2em;
}
div.quarto-post .metadata {
  font-weight: 300;
  font-size: 0.7em;
  font-family: var(--bs-font-sans-serif);
  flex-basis: 100%;
  padding-bottom: 20px;
}
div.quarto-post .metadata .listing-date {
  font-weight: 300;
}

/* Viewport Meta Tag */
@viewport {
  width: device-width;
  initial-scale: 1.0;
}
