/*-- scss:defaults --*/

$theme: "lux" !default;

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black: #000 !default;

$blue: #0073cf !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #fd7e14 !default;
$yellow: #f0ad4e !default;
$green: #4bbf73 !default;
$teal: #20c997 !default;
$cyan: #1f9bcf !default;

$primary: $gray-900 !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $gray-400 !default;

$min-contrast-ratio: 2.25 !default;

// Options

$enable-rounded: true !default;

// Background Color

$background-color: #e9eae0 !default;

// Title Banner

$title-banner: true !default;

// Body

$body-color: $gray-700 !default;

// Fonts

$font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 1rem !default;
$font-size-sm: 0.8rem !default;
$h1-font-size: 3rem !default;
$h2-font-size: 2.5rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.75rem !default;
$h5-font-size: 1.5rem !default;
$h6-font-size: 1.25rem !default;
$headings-font-weight: 900 !default;
$headings-color: $primary !default;

// Word Spacing

$body-line-stretch: 1.7rem !default;

// Tables

$table-border-color: rgba(0, 2, 0, 0.05) !default;

// Buttons

$btn-line-height: 1.5rem !default;
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-padding-y-sm: 0.5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-lg: 2rem !default;
$input-btn-padding-x-lg: 2rem !default;
$btn-font-weight: 600 !default;

// Forms

$input-line-height: 1.5 !default;
$input-bg: $gray-200 !default;
$input-disabled-bg: $gray-300 !default;
$input-group-addon-bg: $gray-300 !default;

// Navbar

$navbar-padding-y: 1.5rem !default;
$navbar-dark-hover-color: $secondary !default;
$navbar-light-color: rgba($black, 0.3) !default;
$navbar-light-hover-color: $primary !default;
$navbar-light-active-color: $primary !default;

// Pagination
$pagination-color: $blue !default;
$pagination-hover-color: color-contrast($blue) !default;
$pagination-border-color: transparent !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-border-color: $pagination-border-color !default;

/*-- scss:rules --*/

// Variables

// Font Imports
$web-font-path: "https://fonts.cdnfonts.com/css/dm-sans" !default;
@if $web-font-path {
  @import url($web-font-path);
}

$web-monofont-path: "https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" !default;

@if $web-monofont-path {
  @import url($web-monofont-path);
}

// Category Block Labels
div.quarto-post .listing-categories .listing-category {
  color: $gray-600;
  border: solid 1px $gray-500;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.65em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}

// Title Banner

.quarto-title-banner .quarto-title .title {
  font-weight: 900;
  color: white;
}

// Navbar

.navbar {
  font-size: $font-size-sm;
  text-transform: uppercase;
  font-weight: 800;

  &-nav {
    .nav-link {
      padding-top: 0.715rem;
      padding-bottom: 0.715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}


.bg-primary {
  background-color: theme-color("primary") !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0;
  }
}

.nav-item {
  margin-right: 2rem;
}

// Table of Content 
.sidebar nav[role=doc-toc] ul>li>a.active {
  border-left: 1px solid #1a1a1a;
  color: $blue !important;
}


// Typography

body {
  font-weight: 200;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1.1px;
  background-color: $background-color;
  font-size: $body-font-size;
  line-height: $body-line-stretch;
  color: $gray-700;
}

p {
  margin-bottom: 20px; // Adjusts the bottom margin between paragraphs
}

// Code Chunk Coloring

code {
  font-family: "Fira Code", monospace;
  padding: 0.5rem;
  overflow-x: scroll;
}

// Source Code color-scheme:

pre > code.sourceCode > span {
  color: #ffffff;
  width: 100%;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  background-color: $gray-900;
}

code span {
  color: #ffffff;
}

code.sourceCode > span {
  color: #ffffff;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #ffffff;
}

code span.ot {
  color: #20794d;
}

code span.at {
  color: #b3c20f;
}

code span.ss {
  color: #25a18e;
}

code span.an {
  color: #a0a0a0;
}

code span.fu {
  color: #9e7ace;
}

code span.st {
  color: #25a18e;
}

code span.cf {
  color: #ffffff;
}

code span.op {
  color: #a0a0a0;
}

code span.er {
  color: #ff6347;
}

code span.bn {
  color: #ff6347;
}

code span.al {
  color: #ff6347;
}

code span.va {
  color: #cccccc;
}

code span.pp {
  color: #ff6347;
}

code span.in {
  color: #a0a0a0;
}

code span.vs {
  color: #25a18e;
}

code span.wa {
  color: #a0a0a0;
  font-style: italic;
}

code span.do {
  color: #a0a0a0;
  font-style: italic;
}

code span.im {
  color: #25c3dc;
}

code span.ch {
  color: #25a18e;
}

code span.dt {
  color: #ff6347;
}

code span.fl {
  color: #ff6347;
}

code span.co {
  color: #a0a0a0;
}

code span.cv {
  color: #a0a0a0;
  font-style: italic;
}

code span.cn {
  color: #e6b800;
}

code span.sc {
  color: #a0a0a0;
}

code span.dv {
  color: #ff6347;
}

code span.kw {
  color: #ffffff;
}

.prevent-inlining {
  content: "</";
}

// Heading Transformations

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text-secondary {
  color: $body-color !important;
}


// Buttons

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $secondary;
    }
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $secondary;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}


// Tables

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th,
  td {
    padding: 1.5rem;
  }

  &-sm {
    th,
    td {
      padding: 0.75rem;
    }
  }
}

// Navs

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators

.badge {
  padding-top: 0.28rem;

  &-pill {
    border-radius: 10rem;
  }

  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}

// Footer

.nav-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: $primary;
  font-weight: 200;
  font-size: 1.2rem;
}

// Containers

.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.card {
  &-title,
  &-header {
    color: inherit;
  }
}

.container {
  width: 100%; // Sets the width to 100% for smaller screens
  max-width: 1200px; // Sets a maximum width for larger screens
  margin: 0 auto; // Centers the container horizontally
}

@media (max-width: 768px) {
  .container {
    max-width: 90%; // Adjusts the maximum width for smaller screens
  }
}
