/*-- scss:defaults --*/

$theme: "MainThemeBCA" !default;

// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black: #000 !default;

$blue: #0073cf !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #fd7e14 !default;
$yellow: #f0ad4e !default;
$green: #4bbf73 !default;
$teal: #20c997 !default;
$cyan: #1f9bcf !default;

$primary: $gray-900 !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $gray-400 !default;

$min-contrast-ratio: 2.25 !default;

// Options
$enable-rounded: true !default;

// Background Color
$background-color: #F0F8FF !default;

// Title Banner
$title-banner: true !default;

// Body
$body-color: $gray-800 !default;

// Fonts
$font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 0.9rem !default;
$font-size-sm: 0.5rem !default;
$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.15rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 0.8rem !default;
$headings-font-weight: 900 !default;
$headings-color: $primary !default;

// Word Spacing
$body-line-stretch: 1.4rem !default;

// Tables
$table-border-color: rgba(0, 2, 0, 0.05) !default;

// Buttons
$btn-line-height: 1.5rem !default;
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-padding-y-sm: 0.5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-lg: 2rem !default;
$input-btn-padding-x-lg: 2rem !default;
$btn-font-weight: 600 !default;

// Forms
$input-line-height: 1.5 !default;
$input-bg: $gray-200 !default;
$input-disabled-bg: $gray-300 !default;
$input-group-addon-bg: $gray-300 !default;

// Navbar
$navbar-padding-y: 1.5rem !default;
$navbar-dark-hover-color: $secondary !default;
$navbar-light-color: rgba($black, 0.3) !default;
$navbar-light-hover-color: $primary !default;
$navbar-light-active-color: $primary !default;

// Pagination
$pagination-color: $blue !default;
$pagination-hover-color: color-contrast($blue) !default;
$pagination-border-color: transparent !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-border-color: $pagination-border-color !default;

/*-- scss:rules --*/

// Variables and Font Imports
$web-font-path: "https://fonts.cdnfonts.com/css/dm-sans" !default;
$web-monofont-path: "https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" !default;

@import url($web-font-path);
@import url($web-monofont-path);


// Navbar

// Navbar Brand

@media (max-width: 768px) {
  .navbar .navbar-container>.navbar-brand-container {
    margin-left: 26px !important;
    margin-right: 0 !important;
  }

  .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-right: auto;
    margin-left: auto;
}
}



// Mobile devices
@media (max-width: 768px) {
  .navbar-brand-container {
    display: flex; // Use flexbox to align children
    justify-content: center; // Center children horizontally in the container
    align-items: center; // Center children vertically in the container
    width: 100%; // Ensure the container takes full width

    .navbar-brand {
      display: flex; // Enable flexbox for the brand itself
      justify-content: center; // Center the brand content horizontally
      align-items: center; // Center the brand content vertically
    }
  }
  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 2em !important;
    margin-bottom: 0;
    list-style: none;
  }

  .fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

}

// Navigation Bar
nav a {
  position: relative; /* Needed to position the pseudo-element */
  display: inline-block; /* Ensures the pseudo-element is aligned correctly */
  transition: color 0.5s ease; /* Transition for color change */
  color: inherit; /* Use the parent's color or define a specific color */
  text-decoration: none; /* Optional: Removes the default underline */
}

/* Targeting the text within the nav links directly */
.nav-link .menu-text {
  font-size: 1rem; /* Adjust the font size as desired */
  letter-spacing: 0.05em; /* Adjust the letter spacing as desired */
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Height of the underline */
  bottom: -5px; /* Adjust based on the desired distance from the text */
  left: 50%;
  background-color: $white; /* Color of the underline */
  transition: width 0.5s ease, left 0.5s ease; /* Transition for expanding effect */
}

nav a:hover::after, nav a.active::after {
  width: 100%;
  left: 0; /* Aligns the start of the underline with the start of the element */
}

nav a:hover, nav a.active {
  color: $white !important; /* Keeps your existing color change on hover and active */
}
.quarto-navbar-tools {
  position: sticky;
  transform: translateX(-50%); // Adjust for the element's height
}

// Footer
.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: $primary;
  font-weight: 200;
  font-size: 1.2rem;

  .nav-item, .nav-link {
    display: flex;
    align-items: center; // Ensures vertical centering of text and icons
    justify-content: center; // Centers the content horizontally within the nav link
  }

  .nav-link {
    color: $gray-500;
    position: relative;
    display: inline-block; // Overwritten by flex in .nav-item, .nav-link but kept for fallback
    text-decoration: none; // Removes the default underline
    transition: color 0.3s ease; // Smooth transition for color change
    width: 100%; // Ensures the link utilizes the full available width

    p {
      font-size: 0.9rem; // Adjusted font size for footer links
      letter-spacing: 0.04em; // Adjusted letter spacing for footer links
    }

    // Expanding underline effect
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px; // Height of the underline
      bottom: -5px; // Distance from the text
      left: 50%;
      background-color: $gray-100; // Use SCSS variable for consistency
      transition: width 0.3s ease, left 0.3s ease; // Transition for the expanding effect
    }
    &:hover {
      color: $gray-100; // Color change on hover

      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  i {
    margin-right: 8px; // Adds space between the icon and text
  }
}

// Media query for mobile devices
@media (max-width: 768px) {
  .nav-footer {
    flex-direction: column;
  }

  .nav-footer-left, .nav-footer-right {
    width: 100%;
    justify-content: center; // Center these sections within the footer
    align-items: center; // Center align items vertically within each section
  }

  .nav-footer-left {
    order: 1; // Ensure it's above the right section
    margin-top: 5px;
    margin-bottom: 10px; // Add some space below this section for clarity
  }

  .nav-footer-right {
    order: 2; // Ensure it's below the left section
    flex-direction: row; // Lay out the items in a row
    justify-content: center; // Center the row of items if there's extra space
    flex-wrap: wrap; // Allow items to wrap to new line if not enough space
    gap: 10px; // Space between items when they wrap
  }

  .footer-items {
    display: flex; // Enables flexbox layout
    flex-direction: row; // Ensure items are laid out in a row
    justify-content: center; // Center items horizontally
    align-items: center; // Center items vertically
    flex-wrap: wrap; // Allow items to wrap on small screens
    list-style-type: none; // Remove default list styling
    padding: 0; // Remove default padding
    margin: 0 auto; // Center the list itself in the footer
    width: 100%; // Ensure the list takes full width
  }

  .footer-items li, .nav-item {
    margin: 0; // Remove all margins from the list items and nav-items for proper centering
    display: flex; // Apply flex to align items properly
    justify-content: center; // Center content within each nav item
    align-items: center; // Center items vertically within each nav item
  }

  .nav-item {
    margin: 10px; // Add some margin for spacing, adjusted as needed for wrapping items
  }
  .nav-footer-center{
    margin-top: 0;
    min-height: 0;
  }
  .nav-footer a {
    margin-right: 10px;
    margin-left: 10px;
  }
}


// Background Colors
.bg-primary {
  background-color: theme-color("primary") !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
  &.navbar-fixed-top { border-width: 0 0 1px; }
  &.navbar-bottom-top { border-width: 1px 0 0; }
}

// Nav Item
.nav-item {
  margin-right: 2rem;
}

// Sidebar Table of Content
.sidebar nav[role="doc-toc"] {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  color: $black !important; // Text color for TOC links
}

.sidebar nav[role="doc-toc"] .nav-link:hover {
  border-left: 1px solid rgb(75, 113, 149)!important; // Keeps the left border color change on hover
  text-decoration: underline !important; // Adds an underline to indicate hover state
}

// Removing custom underline effects for TOC links
#TOC .nav-link::after, #TOC .nav-link:hover::after, #TOC .nav-link.active::after {
  content: none; // Removes the ::after pseudo-element used for custom underline
}

#TOC .nav-link:hover, #TOC .nav-link.active {
  color: rgb(75, 113, 149) !important; // Keeps the text color the same on hover and active states
  text-decoration: underline !important; // Adds standard underline for clarity
}


// Typography and Headings Transformations
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

.text-secondary {
  color: $body-color !important;
}

body {
  font-weight: 200;
  font-family: "DM Sans", sans-serif;
  background-color: $background-color;
  font-size: $body-font-size;
  line-height: $body-line-stretch;
  color: $gray-800;
  touch-action: pan-y;
  overflow-x: hidden;
}

p {
  margin-bottom: 25px; /* Adjusts the bottom margin between paragraphs */
  line-height: 1.8rem;
  font-size: 1rem;
  font-weight: 200;
}



// Navs Colors & Hover Over
a {
  color: $gray-900;
  &:hover {
    color: $cyan;
  }
}

// Quarto Title Block Pages


// THIS IS FOR THE OVERVIEW WEBSITE BEFORE THE INDIVIDUAL ONES


// ----------- FOR INDIVIDUAL QUARTO DOCUMENTS ------------

header#title-block-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem; /* Adds some space below the header content */

  .quarto-title {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align title to the left */
    width: 100%;

    h1.title {
      margin: 0;
      font-size: 2rem;
      text-align: center; /* Ensure text is aligned to the left */
    }
  }
}


// ----------- FOR ABOUT PAGE ------------

.about-entity {
  width: 100% !important; // Use 100% to ensure it spans the full width of its container
  height: auto; // Adjust the height as needed
  background-size: cover; // This will ensure that your background image covers the div completely
  background-position: center; // This centers the background image
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-contents .quarto-title {
  margin-top: 50px; /* Adds space above the .quarto-title block */
}


/* Targeting h3 headers within .about-contents */
.about-contents h3 {
  position: relative;
  display: inline-block;
}

/* Hover effect for h3 headers */
.about-contents h3::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background:  rgb(219, 228, 237);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .4s ease;
}

.about-contents h3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-contents {
  .level3 {
    position: relative;
    // Apply hover effects to h3 when the section is hovered
    &:hover h3 {
      color: #fff; // Change text color to white on hover
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }

    h3 {
      position: relative;
      display: inline-block; // Adjusted to inline-block for proper effect
      text-transform: uppercase;
      margin: 10px 0;
      padding: 5px 5px;
      text-decoration: none;
      color: #262626; // Initial color
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      transition: color .5s, transform .3s; // Transition for color and transform
      z-index: 1;
      cursor: pointer; // To indicate hover effect
      
      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform .3s, opacity .3s; // Smooth transition for transform and opacity
        z-index: -1;
        border-radius: 5px; // Rounded corners for the effect
      }

      &:before {
        top: 0;
        left: 0;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
      }

      &:after {
        top: 2px;
        left: 0;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}

.about-links {
  .about-link {
    // Apply a larger padding around the icons for better visibility
    padding: 100px;
    
    // Targets the icons inside the links
    i {
      font-size: 25px; // Adjust the icon size as needed
      display: inline-block; // Ensures transform applies correctly
      transition: transform 0.3s ease; // Smooth transition for the transform
    }

    // Adjusts the size of the text next to the icons
    .about-link-text {
      font-size: 16px; // Adjust text size as needed
    }

    // Apply the hover effect to the icon when the parent link is hovered
    &:hover i {
      transform: scale(1.2); // Scales up the icon
    }
  }
}

/* Original CSS for PC/Mac remains unchanged */

/* Media query for mobile devices */
@media (max-width: 768px) {
  /* Adjust .about-entity for mobile */
  div.about-entity {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    height: auto; /* Adjust height to be more flexible on mobile devices */
    background-position: center 10%;
  }
  div.about-contents{
    margin-top: -20px !important;
  }

  /* Adjust padding for .about-link for better spacing on mobile */
  .about-links .about-link {
    padding: 20px; /* Reduced padding for mobile screens */
  }

  /* Adjust font size for icons and text within .about-link on mobile */
  .about-links .about-link i {
    font-size: 20px; /* Adjust icon size for better visibility on smaller screens */
  }

  .about-links .about-link .about-link-text {
    font-size: 14px; /* Adjust text size for better readability on mobile */
  }

  
}



/* ------------ NEW! BANNER REFERENCE JAVASCRIPT --------- */

.new-banner {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(219, 228, 237);
  color: $gray-700; /* Assuming $gray-700 is a shade of gray, replace with the exact color if needed */
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  z-index: 10;
  transition: opacity 0.5s ease; /* This will control the fade effect */
  opacity: 1; /* Default state is fully visible */
}


/* ----------- FOR PORTFOLIO PAGE ------------ */

.quarto-grid-item:hover .new-banner {
  opacity: 0; /* This makes the banner fully transparent when the card is hovered over */
}

.quarto-listing-cols-4 {
  row-gap: 4rem;
  column-gap: 2rem;
}

.quarto-listing-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1300px, 1fr));
  justify-content: center;
  margin: 0 auto;

  .quarto-grid-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 228, 237);
    box-shadow: 0 5px 7px rgba(0,0,0,0.1);
    transition: transform 0.7s ease, box-shadow 0.7s ease;
    overflow: hidden;

    &:hover {
      box-shadow: 0 8px 12px rgba(0,0,0,0.2);
      .card-img-top img {
        filter: blur(1.4px);
        transform: scale(2);
      }
      .card-title, .card-text, .card-attribution {
        background-color:rgb(219, 228, 237);
      }
      .card-title {
        margin-left: -20px;
        margin-right: -20px;
        transform: translateY(-150px);
        transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
      }
      .card-text, .card-attribution {
        opacity: 0.9;
        transform: translateY(0);
      }
    }

    &:active {
      transform: scale(0.95); // Example transformation on click
    }

    .card-img-top img {
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .card-title {
      font-size: 1.1em;
      font-weight: 600;
      position: relative;
      justify-content: center;
      text-align: center;
      color: $gray-700;
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 0.7s ease, transform 0.7s ease, background-color 0.4s ease;
    }
    
    .card-text, .card-attribution {
      transition: opacity 0.8s ease, transform 0.8s ease, background-color 0.8s ease;
    }

    .card-text {
      position: absolute;
      font-size: 0.8em;
      bottom: 45px;
      left: 0;
      right: 0;
      opacity: 0;
      transform: translateY(20px);
      overflow: hidden;
      padding: 0.2em 1em 1em;
    }

    .card-attribution {
      font-size: 0.5em;
      font-weight: 500;
      color: $gray-700;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      opacity: 0;
      transform: translateY(30px);
      padding: 0.5em;
    }
  }
}

/* Media queries for responsiveness */
@media (max-width: 1000px) {
  .quarto-listing-container-grid {
    grid-template-columns: repeat(1, minmax(500px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .quarto-listing-container-grid {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .quarto-grid-item {
    margin-bottom: 1rem;

    &:hover {
      box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Revert box-shadow to its original state */
      .card-img-top img {
        filter: none; /* Remove blur */
        transform: none; /* Remove scale */
      }
      .card-title, .card-text, .card-attribution {
        background-color: transparent; /* Remove background-color change */
        opacity: 1; /* Ensure text is fully visible */
        transform: translateY(0); /* Reset text position */
      }
    }
  }
  .subtitle{
    text-align: center;
  }
}




// ----------- FOR BLOG PAGE ------------

.quarto-post.image-right {
  flex-direction: row;
  align-items: center; /* Center content vertically */
}

div.quarto-post {
  display: flex;
  gap: 0em;
  margin-bottom: 4em;
  border-bottom: 2px solid rgb(219, 228, 237);
  min-height: 200px; /* Minimum height for each post */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  position: relative; /* Needed for pseudo-element positioning */
  overflow: hidden; /* Ensures the pseudo-element animation is contained */
}

div.quarto-post:before {
  content: "";
  position: absolute;
  top: 100%; /* Start hidden below the element */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dde9f2; /* Lavender fill */
  transition: top 0.5s ease; /* Smooth transition for the fill */
  z-index: 0; /* Ensure it's below the content */
}

div.quarto-post:hover {
  transform: scale(1.2); /* Slightly enlarge the post */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Enhanced shadow for a lifted effect */
}

div.quarto-post:hover:before {
  top: 0; /* Move to cover the element on hover */
}


div.quarto-post .body {
  flex-basis: 41%;
  padding: 1em;
  margin-right: 0.5em;
  position: relative; /* Ensure this element stays above the pseudo-element */
  z-index: 1;
}

div.quarto-post .thumbnail {
  padding: 1.5em;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center content vertically */
  flex-basis: 30%;
  margin-right: 2em;
  flex-direction: row-reverse;
  position: relative; /* Ensure this element stays above the pseudo-element */
  z-index: 1;
}

div.quarto-post .thumbnail img {
  width: 225px; /* Force the width to be exactly 200px */
  height: 175px; /* Force the height to be exactly 150px */
  object-fit: cover; /* Ensures the aspect ratio is maintained while covering the area */
  z-index: 1; /* Ensure the image stays above the pseudo-element */
  border: 5px solid $black;
} 

/* Media query adjustments for devices with width less than 768px */

@media (max-width: 768px) {
  div.quarto-post {
    flex-direction: column !important; /* This ensures vertical stacking */
    align-items: center !important; /* Center align the flex items */
    gap: 1em; /* Optional: adds space between stacked items for clarity */
    transform: none !important; /* Disables scaling transformation */
    transition: none !important; /* Disables transition to prevent scaling */
  }

  /* Thumbnail first */
  div.quarto-post .thumbnail {
    order: 2 !important;
    align-items: center !important;
    width: 90%; /* Adjust width as necessary */
    margin: 0; /* Remove any specific right margin */
    padding: 0.5em 0; /* Adjust padding as needed */
  }

  div.quarto-post .thumbnail img {
    width: 100%; /* Full width of its container */
    height: 50%; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area of the container without stretching */
  }

  /* Body content second */
  div.quarto-post .body {
    order: 1 !important;
    width: 90%; /* Adjust width as necessary */
    margin-top: -0.5em;
  }

  /* Metadata last */
  div.quarto-post .metadata {
    order: 3 !important;
    width: 90%; /* Adjust width as necessary */
    margin-top: -1em;
  }

  /* Adjust hover effects for mobile */
  div.quarto-post:hover {
    transform: none !important; /* Ensures no scaling on hover */
    /* Retain or adjust other hover effects as needed */
    /* Example: box-shadow for a subtle hover effect without scaling */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
}


// ----------- TALKS PAGE ------------

.quarto-listing-container-table {
  
  // Styles for the table itself
  .quarto-listing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;

    th, td {
      padding: 0.75em;
      border-bottom: 1px solid #dde9f2;
      text-align: left;
    }

    thead {
      th {
        background-color: #dde9f2;;
        font-weight: bold;
      }
    }

    tbody {
      tr:hover {
        background-color: #ebf4fb;;
      }
      
      // Styling links within table rows
      a.title.listing-title {
        font-size: 1.2em; // Adjusted font size for titles // Default link color, adjust as needed
        text-decoration: none; // Removes underline from links
        
        &:hover {
          text-decoration: underline; // Underline on hover for visual feedback
          color: #0056b3; // Darker color on hover
        }
      }
    }
  }

  // Responsive adjustments for better mobile display
  @media (max-width: 768px) {
    .quarto-listing-table {
      th, td {
        padding: 0.5em; // Adjusted padding for smaller screens
      }
    }
  }
}



// ----------- OTHER ------------

// Indicators
.badge {
  padding-top: 0.28rem;
  &-pill {
    border-radius: 10rem;
  }
  &.bg-secondary, &.bg-light {
    color: $dark;
  }
}

// Buttons
.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning,
  &-warning:hover,
  &-warning:not([disabled]):not(.disabled):active,
  &-warning:focus {
    color: $secondary;
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;
  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $secondary;
  }
  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Tables
th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th, td {
    padding: 1.5rem;
  }
  &-sm th, &-sm td {
    padding: 0.75rem;
  }
}

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}
