.monaco-editor pre {
  background-color: unset !important;
}

.qwebr-icon-status-spinner {
  color: #7894c4;
}

.qwebr-icon-run-code {
  color: #0d9c29
}

.qwebr-output-code-stdout {
  color: #111;
}

.qwebr-output-code-stderr {
  color: #db4133;
}

.qwebr-editor {
  font-size: 16px !important;
  overflow: auto;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}



.qwebr-button-run {
  font-size: 16px;  /* Updated font size */
  background-color: #EEEEEE;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
  color: #000;  /* White text color */
  border: none;
  border-radius: 0.5rem;  /* Updated border-radius */
  display: inline-block;
  line-height: 1.5;
  font-weight: 600;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.qwebr-button-run:active {
  background-color: #D73F09 !important;  /* Your orange color */;
  transform: translateY(4px);  /* Button moves down when clicked */
}

.qwebr-button-run:disabled,
.qwebr-button-run.disabled,
fieldset:disabled .qwebr-button-run {
  pointer-events: none;
  opacity: .65;
}



/* Custom styling for RevealJS Presentations*/

/* Reset the style of the interactive area */
.reveal div.qwebr-interactive-area {
  display: block;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
} 

/* Provide space to entries */
.reveal div.qwebr-output-code-area pre div {
  margin: 1px 2px 1px 10px;
}

/* Collapse the inside code tags to avoid extra space between line outputs */
.reveal pre div code.qwebr-output-code-stdout, .reveal pre div code.qwebr-output-code-stderr {
  padding: 0;
  display: contents;
}

.reveal pre div code.qwebr-output-code-stdout {
  color: #111;
  font-size: 16px !important;
}

.reveal pre div code.qwebr-output-code-stderr {
  color: #db4133;
  font-size: 16px !important;
}


/* Create a border around console and output (does not effect graphs) */
.reveal div.qwebr-console-area {
  border: 1px solid #EEEEEE;
  box-shadow: 2px 2px 10px #EEEEEE;
  font-size: 16px !important;
}

/* Cap output height and allow text to scroll */
/* TODO: Is there a better way to fit contents/max it parallel to the monaco editor size? */
.reveal div.qwebr-output-code-area pre {
  max-height: 400px;
  overflow: scroll;
  font-size: 16px !important;
}
